:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary: #aaa;
  --border-radius: .125em ;

  --primary-color: rgb(20, 118, 188);
  --warning: rgb(218, 116, 8);
}

*{
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.selectable {
  user-select: text;
}

.clickable {
  cursor: pointer;
}
#root{
  width: 100vw;
  height: 100vh;
}

.page-container {
  min-width: 40vw;
  max-width: calc(1200px - 4rem);
  width: fit-content;
  height: calc(100vh - 4rem);
  margin: auto;
  padding: 2rem;
}

.home-today {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius:var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .2rem;
  padding: 1rem;
}

.home-today > h1{
  margin: 0;
}

.food-card {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: var(--border-radius);
  min-width: 50%;
  padding: .25rem;
}
.food-card > h3 {
  margin: 0;
}
.intake-macros {
  display: flex;
  flex-direction: column;
}

.today-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.today-progress-bar {
  width: 90%;
  height: 1rem;
  background-color: wheat;
  border-radius: 500rem;
  margin: auto;
}

.today-progress-bar-fill {
  border-radius: 500rem;
  height: 100%;
}
.today-progress-macros {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  justify-content: space-evenly;
  align-items: center;
}


